Source: libiri
Section: net
Priority: extra
Maintainer: Yunchan Cho <yunchan.cho@samsung.com>
Uploaders: Yunchan Cho <yunchan.cho@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config
Standards-Version: 0.1.0

Package: libiri
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} 
Replaces: libiri
Description: a simple library for parsing Internationalized Resource Identifiers (IRIs)

Package: libiri-dev
Section: libdevel
Architecture: any
Depends: libiri (= ${Source-Version})  
Description: a simple library for parsing Internationalized Resource Identifiers (IRIs) 
